.bird-card {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 50%;
}

.card-body {
  display: flex;

  padding: 0;
  flex-direction: row;
  min-height: 173px;
}

.bird-name-song {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 0;
}

.bird-image {
    width: 50%;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
}

.hidden {
  display: none;
}
